body {
    font-family: Arial, sans-serif;
}
.contact {
    padding: 30px 0;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.profile-image {
    margin-right: 20px;
}
.profile-description {
    max-width: 600px;
}
.experience {
    padding: 30px 0;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.gallery-card {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
}
